# IDE specific folder
.idea/
.vscode/

# Dachshund specific folder
cache/
node_modules/
doc/
logs/

# Local Node.js installation
node-*/

# Ignores all applications which are not part of Dachshund
apps/*
!apps/main.js
!apps/helloDachshund
!apps/node_modules
!apps/core

# Ignores all content which is not part of Dachshund
content/*
!content/.auth.json

# Ignore all users except anonymous
home/users/*
!home/users/anonymous

# Ignore all libs which are not part of Dachshund
libs/*
!libs/README.md

# Ignore the favicon in case it was compied from
ä an application into the rooth path of Dachshund
/favicon.ico

# Components which were downloaded with bower
bower_components/